* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100%;
    /*min-height: 100vh; /* Mindesthöhe des Viewports */
}

.sidebar {
    display: flex;
    width: 20%;
    flex-direction: column; /* Anpassung der Flexbox auf Spalte */
    background-color: #333333; /* Standardmäßig dunkler Hintergrund im Darkmode */
    padding: 20px;
    color: #ffffff;
}

.user-settings {
    margin-top: auto; /* Benutzer-Einstellungen am unteren Ende der Sidebar verankern */
    display: flex;
    align-items: center;
}

.user-settings img {
    width: 100%; /* Bild nimmt die volle Breite ein */
    height: auto; /* Das Seitenverhältnis wird beibehalten */
    margin-right: 10px;
}


.user-rooms {
    display: flex;
    flex-direction: column; /* Anpassung der Flexbox auf Spalte */
}

.chatroom-box {
    background-color: #dddddd; /* Leicht grauer Hintergrund */
    border-radius: 10px; /* Abgerundete Ecken */
    padding: 10px; /* Padding aussenrum */
    margin-bottom: 10px; /* Abstand nach unten */
    cursor: pointer;
    text-align: center; /* Zentrierte Schrift */
    color: #333333; /* Textfarbe auf Grau setzen */
}

.add-room-btn {
    max-height: 80%; /* Maximale Höhe für den Button auf 80% beschränken */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px; /* Abgerundete Ecken */
    padding: 10px; /* Padding aussenrum */
    margin-top: 10px; /* Abstand nach oben */
    text-align: center; /* Zentrierte Schrift */
}


.user-settings-btn{
    max-height: 10%; /* Maximale Höhe für den Button auf 80% beschränken */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px; /* Abgerundete Ecken */
    padding: 10px; /* Padding aussenrum */
    margin-top: 10px; /* Abstand nach oben */
    text-align: center; /* Zentrierte Schrift */
}

.logout-btn {
    background-color: red;
    color: white; /* Damit der Text besser sichtbar ist, weiß setzen */
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.logout-btn:hover {
    background-color: darkred; /* Farbe ändern, wenn der Mauszeiger über dem Button ist */
}


/* Weitere Anpassungen je nach Bedarf... */

.chat-container {
    padding: 20px;
    width: 80%;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
}

.chat-header {
    text-align: center;
    height: 7%;
}

.chat-messages {
    border: 1px solid #ccc;
    padding: 10px;
    height: 80%;
    width: 100%;
    overflow-y: scroll;
}

.chat-input {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 7%;
    display: flex;
}

.chat-input input {
    flex-grow: 1;
    font-size: 20px;
    padding: 10px;
}

.chat-input button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #45a049;
}


/* Modal-Stil */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ausgegraute Hintergrundfarbe */
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%; /* Anpassen der Breite des Modals nach Bedarf */
    max-width: 300px; /* Maximal zulässige Breite */
    border-radius: 15px; /* Abgerundete Ecken */
    background-color: #333333; /* Hintergrundfarbe des Modals */
    padding: 20px; /* Padding aussenrum */
    text-align: center;
}

/* Stil für die Buttons im Modal */
.modal-content button {
    margin: 10px 0; /* Abstand zwischen den Buttons */
    padding: 15px; /* Padding aussenrum */
    width: 100%; /* Buttons nehmen die volle Breite ein */
    border: none;
    border-radius: 10px; /* Abgerundete Ecken */
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}




/* Stil für Chatnachrichten */
.chat-message {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    word-wrap: break-word;
}

/* Stil für Nachrichten des aktuellen Benutzers */
.chat-message.current-user {
    background-color: #416042; /* Hintergrundfarbe für Nachrichten des aktuellen Benutzers */
    color: #ffffff; /* Textfarbe für Nachrichten des aktuellen Benutzers */
    text-align: right; /* Text auf der rechten Seite für Nachrichten des aktuellen Benutzers */
    border-radius: 10px; /* Runde Ecken für die Nachrichten des aktuellen Benutzers */
    padding: 8px; /* Innenabstand für die Nachrichten des aktuellen Benutzers */
    font-size: 20px;
}

/* Stil für Nachrichten von anderen Benutzern */
.chat-message:not(.current-user) {
    background-color: #3b2929; /* Hintergrundfarbe für Nachrichten von anderen Benutzern */
    color: #ffffff; /* Textfarbe für Nachrichten des anderen Benutzers */
    text-align: left; /* Text auf der linken Seite für Nachrichten von anderen Benutzern */
    border-radius: 10px; /* Runde Ecken für die Nachrichten von anderen Benutzern */
    padding: 8px; /* Innenabstand für die Nachrichten von anderen Benutzern */
    margin-top: 5px; /* Oberer Außenabstand zwischen den Nachrichten von verschiedenen Benutzern */
    font-size: 20px;
}

/* Stil für den Absender in der Nachricht */
.message-sender {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px; /* Kleiner Schriftgrad für den Absender */
}

/* Stil für das Datum in der Nachricht */
.message-date {
    font-size: 12px; /* Kleiner Schriftgrad für das Datum */
}