<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Chatroom</title>
</head>

<body>

    <div class="container">
        <div class="sidebar">
            <div class="user-rooms">
                <!-- 1. Chaträume des Benutzers -->
                <div class="chatroom-box">Chatraum 1</div>
                <div class="chatroom-box">Chatraum 2</div>
                <!-- Weitere Chaträume... -->

                <div class="add-room-btn" onclick="openCreateRoomModal()">+</div>
            </div>

            <!-- 3. Benutzericon und Einstellungen -->
            <div class="user-settings" onclick="openUserSettings()">
                <img src="../static/images/user-286-512.png" alt="User Icon">
            </div>

            <!-- Logout-Button -->
            <button class="logout-btn" onclick="logout()">Logout</button>
        </div>

        <div class="chat-container">
            <div class="chat-header">
                <!-- Aktuell ausgewählter Chatraum -->
                <h2>Chatraum 1</h2>
            </div>
            <div class="chat-messages">
                <!-- Chatnachrichten werden hier angezeigt -->
            </div>
            <div class="chat-input">
                <!-- Eingabefeld für den Chat -->
                <input type="text" placeholder="Nachricht eingeben...">
                <button class="send-btn">Senden</button>
            </div>
        </div>
    </div>

    <!-- Modal für Raum erstellen/beitreten -->
    <div id="roomModal" class="modal" onclick="closeCreateRoomModal()">
        <div id="modalContent" class="modal-content">
            <button id="createRoomBtn">Einen neuen Raum erstellen</button>
            <button id="joinRoomBtn">Einem Raum beitreten</button>
        </div>
    </div>

    <!-- Skript mit der ausgelagerten logout()-Funktion -->
    <script src="../static/js/scripts.js"></script>

</body>

</html>
